@import url(https://fonts.googleapis.com/css?family=Noto+Sans);



/*body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  
}*/


.contact_form{	
	width: 460px; 
  	height: auto;
 	margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  	background-color: #fbfbfb; 
  	padding-left: 30px; 
}

.contacto-items{
	font-size: 14px; 
	color: #0e0e0e; 

}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #F8b195; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
}


textarea{
  	background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #F8b195; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
  	padding-top: 15px; 
}


label{
  	display: block; 
	float: center; 
	font-size: 14px; 
	color: #0e0e0e; 
		
}


button{
	text-transform: uppercase;
	background-color: #F8b195; 
	border-color: #F8b195; 
	border-style: solid; 
	border-radius: 10px;		
  	cursor: pointer;
  
  
}
.button:hover {
    background-color: #f17d4f;
    color: white;
}


button p{
	color: #fff; 
}

h3{
	color: #0e0e0e;
	font-size: 18px;
}

/*span{
	color: #F8b195; 
}

*/
.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #f3b977;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #f3b977;
}

