body {
    
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #f9dbcf, #f9dfd5, #f9e3da, #f8e7e0, #f8ebe6);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Overlock", sans-serif;
	

}

.TituloForm{
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F8b195;
	border-radius: 10px;
	width: 50%;
	margin: 20px auto;
}

.containerform {
	/* Por defecto en modo fila, uno al lado del otro */
	display: flex;
	flex-flow: row;
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	background-color: #fbfbfb;
  }
  
  .itemform1 {
	flex: 1 1 auto;  
	width: 50%;
	 
  	height: auto;
	  margin: 20px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px; 
	padding-right: 30px; 
  	background-color: #fbfbfb; 
  	padding-left: 30px; 
	
	
	
  }

  .itemform2 {
	flex: 1 1 auto;  
	text-align: center;
	line-height: normal;
	padding: 20px;
  }

  .imglogo{
	margin-bottom: 30px;
  }

  .itemform3 {
	flex: 1 1 auto;  
	text-align: center;
	padding: 20px;
	
  }
  
  @media (max-width: 750px) {
	.containerform {
	  /* si es muy angosta, uno debajo del otro */
	  flex-flow: column;
	}
  }



.contacto-items{
	font-size: 14px; 
	color: #0e0e0e; 
	list-style-type: none;

}

input{
	background-color: #fbfbfb; 
	width: 100%; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #F8b195; 
	margin-top: 10px;  
	padding-left: 10px;
  	/*margin-bottom: 20px; */
}


textarea{
  	background-color: #fbfbfb; 
	  width: 100%; 
	  /*height: 40px; */ 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #F8b195; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
  	padding-top: 15px; 
}


label{
  	display: block; 
	float: center; 
	font-size: 16px; 
	color: #0e0e0e; 
		
}

.selector{
	background-color: #fbfbfb; 
	border-color: #F8b195; 
	border-color: #F8b195; 
	border-style: solid; 
	border-radius: 10px;
	height: 40px;
}

.checkbox{
	border-color: #F8b195; 
	border-style: solid; 
	border-radius: 10px;
	width: 14px;
	height: 14px;
	color: #0e0e0e;

	
}

.checkbox input:checked + label:after{
	
	display: block;
	width: 9px;
	height: 15px;
	font-size: 11px;
	color: #000000;
}

.checkbox input:checked + label {
	background-color: #000000;
}

.checkbox label:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 3%;
	background-color: #d7ccc9;
}

button{
	text-transform: uppercase;
    border-radius: 10px;
    
  
}


button p{
	color: #fff; 
	
}

.contacto-items{
	text-align: center;
	font-size: 18px; 
	color: #0e0e0e; 

}
.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

::-webkit-input-placeholder {
	color: #a8a8a8;
   }
   
   
   ::-webkit-textarea-placeholder {
	color: #a8a8a8;
   }
   
   
   .formulario input:focus{
	   outline:0;
	   border: 1px solid #f3b977;
   }
   
   
   .formulario textarea:focus{
	   outline:0;
	   border: 1px solid #f3b977;
   }




.css-checkbox { 
	width: 100%;
	display:flex;
	
	
	
	margin: 10px;
	font-size: 14px;
	cursor: pointer;
	
}
	

	
/*.css-checkbox + label { 
	position: relative; 
	font-size: 14px; 
	cursor: pointer; 
	display: inline-flex; 
	align-items: center; 
	height: 16px; 
	color: rgb(0, 0, 0); 
	}
	
.css-checkbox + label::before { 
		content: " "; 
		display: inline-block; 
		vertical-align: middle; 
		margin-right: 3px; 
		width: 14px; 
		height: 14px; 
		background-color: white; 
		border-width: 1px; 
		border-style: solid; 
		border-color: rgb(204, 204, 204); 
		border-radius: 2px; 
		box-shadow: none; 
	}
	
.css-checkbox:checked + label::after { 
		content: " "; 
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); 
		background-repeat: no-repeat; 
		background-size: 10px 10px; 
		background-position: center center; 
		position: absolute; 
		display: flex; 
		
		background-color: transparent; 
		font-size: 10px; 
		height: 16px; 
		width: 16px;
	
	}*/