header {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: sticky;
    background-color: #333333;
    opacity: .8;
    top: 0;
    z-index: 1;
}

a {
    color: #666666;
    text-decoration: none;
    padding: 0.2em 0.1em;
    border-radius: .3em;
}

.nombre {
    color: #000000;
    font-size: 2em;
    font-family: "Bad Script", cursive;
    font-weight: 600;
    font-style: normal;
    position: relative;
    padding-left: 0.1em;
    margin: 0;
}

img.logo {
    margin-left: 0;
    float: left;
    border-radius: .3em;
    top: 0;
    width: 3.2em;
}

img.carrito {
    width: 1.8em;
    padding-right: .8em;
    padding-top: .3em;
    text-align: center;
}

#pedido {
    background-color: #ff0000;
    margin-left: .6rem;
}

header h1 {
    color: #000000;
}

.csMenu {
    margin: 0;
    padding: 0;
    font-size: 1em;

}

/* Contenedores <ul> */
.csMenu ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    list-style: none;
}

/* Enlaces */
.csMenu a {
    float: left;
    color: #f2f2f2;
    /* display: block; */
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    /* margin-left: .75em; */
    padding: .75em 1.5em;
    border-radius: .3em;
    font-weight: bold;
}

/* Enlaces hover */
.csMenu a:hover {
    background-color: #dddddd;
    color: #000000;
}


/* Distribución horizontal */
.mHoriz li {
    float: left;
    display: block;
}

/* Distribución vertical */
.mVerti li {
    width: 10em;
    display: block;
    text-align: right;
}


/* Botón tipo hamburguesa en pantallas pequeñas */
#hMenuBtn {
    display: none;
}

/* Menú hamburguesa */
@media (max-width: 900px) {
    #hMenu {
        display: none;
    }

    #hMenuBtn+label {
        color: white;
        cursor: pointer;
        padding: 0.5em 0.5em;
        display: inline-block;
    }

    #hMenuBtn+label:hover {
        background-color: #ddddddd9;
        color: #000000;
    }

    #hMenuBtn+label::before {
        content: "☰";
        font-size: 2rem;
        line-height: 1em;
    }

    #hMenuBtn:checked~#hMenu {
        display: inline;
        float: left;
        margin-bottom: 1em;
    }
}