@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/* ===== Reseteo de formato ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*  border: 1px solid red; */
}

:root {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(220.55deg, #8fff85 0%, #39a0ff 100%); */
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fcf5e5;

    /* background-image: linear-gradient(to right top, #fefeeb, #fdfae7, #fbf7e3, #faf3e0, #f9efdc); */
    /* background-image: linear-gradient(to left bottom, #fcf5e5, #fdf5e2, #fef5e0, #fef4dd, #fff4da); */
    ;
    /* background-image: url("./img/logo/Icono-transparente.png"); */
    /* Reemplaza 'fondo.jpg' con la ruta de tu imagen de fondo */

    background-size: cover;
    /* background-repeat: no-repeat; */
    color: #ffffff;
    font-family: "Overlock", sans-serif;

}

/*===== Boton de Ir Arriba =====*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 1vh;
    right: 4vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #535252;
    color: white;
    cursor: pointer;
    padding: .5em;
    border-radius: .4em;
    font-size: 1.3em;
    font-weight: 600;
    overflow: hidden;
}

#myBtn:hover {
    background-color: #f85656;
}

/* ===== Comunes de grid ===== */
.item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    align-items: center;
    border-radius: .5em;
    transition: all .5s;
}

.info-product {
    padding: .8em;
    line-height: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3em;
}

p.price {
    color: black;
    font-weight: bolder;
    padding: .5em;
    font-size: 2rem;
}


/* ===== Efecto en la imagen ===== */

.item figure {
    overflow: hidden;
    border-radius: .5em;
}

.item:hover img {
    transform: scale(1.2);
}

.item {
    border-radius: .7em;
    background-color: rgba(243, 234, 232, 0.962);
}

.item:hover {
    box-shadow: 0 .3em .7em rgb(0, 0, 0, 0.20)
}

.button {
    display: inline-block;
    border: none;
    border-radius: .5em;
    color: white;
    padding: 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 1em 1em;
    cursor: pointer;
    background-color: #f99d79;

}

.button:hover {
    background-color: #f64c09;
    color: white;
}

/* ===== PopUp ===== */
#modal {

    border-radius: .5rem;
    width: max-content;
    height: max-content;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: .7rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}


#modal button {
    background-color: #f7a17f;
    border-radius: .5rem;
    font-size: 1rem;
    color: aliceblue;
    padding: .5rem;
    border: none;
    outline: none;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, .80);

}

/* animacion del icono en el pop-up */
#modal svg {
    animation: reboteSVG 1s 1;

}


/* Creamos la animación (con keyframes) */
@keyframes reboteSVG {

    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    70% {
        opacity: 1;
        transform: scale(0.9);
    }

}

/* ===== Fin PopUp ===== */


@media only screen and (max-width: 425px) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: .8rem;
        padding-top: 1rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }


}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .8rem;
        padding-top: 1rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding-top: 1rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }

    /* #modal {
        top: 30vh;
        left: 30vw;
    } */


}

@media only screen and (min-width: 1024px) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-top: 1rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }


}