@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/* ==== General ====*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  width: 100%;
}

body {
  /* background: linear-gradient(220.55deg, #8fff85 0%, #39a0ff 100%); */
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Overlock", sans-serif;
  overflow-x: hidden;
}

.contenedor::before {
  content: "Marca de Agua";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;

  opacity: 0.3;
  /* Ajusta la opacidad según tus preferencias */
  z-index: -1;
  /* Para que la marca de agua esté detrás del contenido */
}

/* ====== Inicio Header ====== */

.logo img {
  border-radius: 5px;
  height: 2.5em;
  top: 0;
  border-radius: 5px;
}

h1 {
  color: #000000;
  font-size: 2rem;
  font-family: "Bad Script", cursive;
  font-weight: 600;
  font-style: normal;
  position: relative;
  padding-left: 0.1em;
  margin: auto;
  display: flex;
  align-items: space-between;
}

h2 {
  padding: 0.7rem;
  color: #000000;
}

a {
  color: #666666;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #333333;
  opacity: 0.8;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav h1 {
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 30px;
}

.topnav a:hover {
  background-color: #dddddd;
  color: #000000;
}

.topnav a.active {
  background-color: #333333;
  color: #ffffff;
}

.topnav .icon {
  display: none;
}

#pedido {
  background-color: #ff0000;
  margin-left: 30px;
}

/* ====== Fin Header ======*/

/* ===== Inicio Contenido Ppal ====*/

/* ----carousel---- */

.carousel-item {
  /*  height: 65vh;
  min-height: 300px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*---Boton de Ir Arriba---*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 1vh;
  right: 4vw;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #535252;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.4em;
  font-size: 1.3em;
  font-weight: 600;
  overflow: hidden;
}

#myBtn:hover {
  background-color: #f85656;
}

/* ---video--- */

.container_video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -50px;
}
.video {
  max-width: 50%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ----Sección de Productos---- */

.card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card img {
  width: 250px;
}

.card-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  justify-items: center;
}

.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda_button {
  align-items: center;
  background-image: linear-gradient(144deg, #ff9a76, #ff6363 50%, #ff1e62);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(255, 154, 118, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: "Overlock", sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 50px;
}

.tienda_button:active,
button:hover {
  outline: 0;
}

.tienda_button a {
  background-color: rgb(5, 6, 45);
  padding: 11px 21px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.tienda_button:hover a {
  background: none;
}

.tienda_button:active {
  transform: scale(0.9);
}

/* ----Testimonios---- */

.principal_title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.principal_title > h3 {
  color: #000000;
  margin: 0;
  font-size: 40px;
}

.principal_title > p {
  color: #ff3333;
  font-size: 16px;
}

.post {
  display: flex;
  margin-bottom: 90px;
  margin-left: 210px;
  margin-right: 190px;
}

.postUser {
  flex: 0 1 auto;
  padding-bottom: 10px;
}

.postUser__portrait {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 90px;
  font-size: 70px;
  line-height: 0;
}

.postUser__portrait img {
  height: 100%;
  clip-path: circle();
}

.postUser__name {
  color: #57727c;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.postBody1,
.postBody2 {
  flex: 1 1 0%;
  position: relative;
  padding: 15px;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  margin-right: 25px;
}

.postBody1:after,
.postBody1:before,
.postBody2:after,
.postBody2:before {
  right: 100%;
  top: 35px;
  border: solid transparent;
  /* content: " "; */
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.postBody1:after,
.postBody2:after {
  border-color: transparent;
  border-right-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}

.postBody1:before,
.postBody2:before {
  border-color: transparent;
  border-right-color: #cad0d2;
  border-width: 9px;
  margin-top: -9px;
}

.postBody__content {
  color: #57727c;
  font-size: 14px;
  text-align: center;
}

.postBody__date {
  margin-top: 5px;
  color: #86969c;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ====== Fin Contenido Ppal ====== */

/* ====== Inicio Footer ====== */

footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background-color: #393e41;
}

.social {
  display: flex;
  justify-content: center;
}

.copyright {
  margin-bottom: 0.3rem;
  color: #666666;
  font-size: 1em;
  text-align: center;
  margin-top: 0.5em;
}

.footer_nav {
  text-align: center;
}

.main_menu_footer {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  margin-right: 15px;
}

.fa-instagram,
.fa-facebook,
.fa-whatsapp {
  color: #666666;
  padding-left: 0.25em;
  font-size: 1.5em;
}

/* ====== Fin footer ======  */

/* ======= media ======= */

@media screen and (min-width: 1080px) {
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .topnav {
    position: relative;
  }

  .card {
    width: 250px;
    height: 250px;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive .menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav.responsive .menu-items a {
    display: block;
    text-align: center;
    padding: 12px 14px;
  }
}

@media screen and (min-width: 490px) and (max-width: 992px) {
  .topnav {
    position: relative;
    justify-content: space-between;
  }

  .post {
    display: flex;
    margin: 0 0 90px 20px;
  }

  .card {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: smaller;
  }

  .tienda_button a {
    font-size: 14px;
    padding: 7px 15px;
  }

  .video {
  max-width: 70%;
  }

  .card-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-items: center;
  }

  .post {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* margin: 0 -10px 115px 110px; */
  }

  .postBody1 {
    padding: 0 35px;
    margin: 0 15px;
  }

  .postBody2 {
    padding: 0 35px;
    margin: 0px 15px 115px;
  }

  .postUser {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .postUser__portrait {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 90px;
    font-size: 70px;
    line-height: 0;
  }

  .postUser__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .postBody__content {
    font-size: 12px;
  }

  .main_menu_footer,
  .social {
    display: flex;
    flex-direction: column;
  }

  .main_menu_footer > li {
    margin-bottom: 11px;
  }

  footer .copyright {
    margin-bottom: 0.3rem;
  }

  .fa-instagram,
  .fa-facebook,
  .fa-whatsapp {
    color: #666666;
    padding-bottom: 0.5em;
    font-size: 1.5em;
  }
}
